{% extends "base.html" %}

{% block content %}

<!-- Start of content -->
	<div class="w3-hide-small" style="height: 43px;"></div>
	
	<section class="w3-row w3-margin-top">
		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>

		<div class="w3-col m10 l8 s12 w3-padding " id="content">

	<!-- Start of Text - Content block -->







<section class="w3-container">
		<hr style="width: 90%; margin:auto;" >
		<h1 class="w3-center">А почему, собственно, “Степаныч”?</h1>
		<div class="w3-center">
		<img src="/img/stepanych1.jpg" alt="Александр Степанович Демченко" width="300px">
		<p class="w3-text-grey w3-tiny">Фото из архива Володина В.Г.</p>
		</div>
			
		<p class="w3-section">Вот уже более 16лет подряд, каждый декабрь проходят соревнования альпинистких связок "Степаныч"! Каждый год организаторам задают вопрос, почему такое название и кто такой этот Степаныч. Для старших поколений альпинистов ответ на него очевиден. А тем, кто не знает, хочется закрыть пробел. Ведь соревнования назвали не просто так, видимо человек был необычный. Эта справка для тех, кому интересно узнать, и для тех кому просто приятно было бы вспомнить…</p>
		<div class="w3-border w3-border-green w3-leftbar w3-padding w3-margin-bottom ">
		<p class="w3-section"><b>Для молодежи подсказка: </b> <i>Соревнования проводит центральный спортивный клуб альпинистов г. Москвы имени А.С. Демченко.</i> </p>
		</div>
		<p class="w3-section">Ну как? Догадались? А.С. - Александр Степанович Демченко. Знаменитый тренер по альпинизму, который вырастил не одно поколение мастеров нашего спорта. Воспитанники называли его просто Степаныч. Так короче, да и как-то привычнее. </p>
		
		
		<div class="w3-center">
		<img src="/img/stepanych2.jpg" alt="Александр Степанович Демченко" width="300px">
		<p class="w3-text-grey w3-tiny">Фото из архива Володина В.Г.</p>
		</div>

		<p class="w3-section">На самом деле, и я зелень несусветная, когда пришла в клуб, тоже не знала кто этот человек. Потихонечку вытягивала информацию из именитых руководителей клуба, узнавала учеников, и много раз удивлялась: “Как? И он тоже у Демченко занимался? И тоже мастер?”. </p>

		<div class="w3-center">
		<img src="/img/stepanych3.jpg" alt="Александр Степанович Демченко" width="300px">
		<p class="w3-text-grey w3-tiny">Фото из архива Володина В.Г.</p>
		</div>

		<p class="w3-section"><b>Итак, справка:</b>
		<br>

		Демченко Александр Степанович (1925-1992) – родился на Кубани. Окончил танковое училище и в 19 лет пошел на фронт, дошел до Берлина. После войны служил в Выборге под Ленинградом (1946-1975). В 1975 г. уволен в запас и переехал в подмосковный Калининград. МС – 1960. Почетный МС – 1965. МСМК – 1968. Заслуженный тренер РСФСР – 1982. Свои лучшие восхождения (1950-1970) совершил в составе команды ЦСКА МО, тренер Некрасов В.П.
		<br>
		<br>
		<b>Чемпионаты СССР (по данным альпклуба им. А. Демченко):</b>
		<br>
		<div class="w3-border w3-border-green w3-leftbar w3-padding w3-margin-bottom">
		<ul style="list-style-type: none" class="w3-small">
			<li><b>1959</b> – 2 место: Ушба Ю по В стене, пп;</li>
			<li><b>1962</b> – 1 место: Ушба Ю, пп;</li>
			<li><b>1965</b> – 3 место: пик Коммунизма с ледника Беляева, пп;</li>
			<li><b>1966</b> – 3 место: Ушба Ю по В стене, пп;</li>
			<li><b>1967</b> – 3 место: Кюкюртлю по Ю стене З башни;</li>
			<li><b>1968</b> – 3 место: пик Революции по Ю ст., пп;	</li>
			<li><b>1971</b> – 2 место: п. КомАкадемии, пп;</li>
			<li><b>1972</b> – 1 место: траверс п. КомАкадемии – Гармо, пп.</li>
		</ul>
		</div>
		<br>
		<b>Участие А. Демченко в Чемпионатах СССР (по Рототаеву, 1977):</b>
		<br>
		<br>
		<b>1959</b> – по классу технически сложных восхождений, 2-е место. Восхождение на южную вершину Ушбы по СВ стене. Команда Советской Армии: B. Некрасов, А. Демченко, Ю. Заричняк (Ленинград), Г. Живлюк, А. Битный, К. Рототаев.
		<br>
		<br>
		<b>1962</b> – по классу технических восхождений, 1 место. Восхождение на вершину Ушба Южная по З ребру, первопрохождение, 5б к/тр., совершенное командой ЦСКА в составе: Живлюк Г. (рук.), Демченко А. (Ленинград), Битный А., Логвинов В., Гаврилов Ю., Гончаров П.
		<br>
		<br>
		<b>1964</b> – по классу высотных восхождений, 3-е место. Траверс пик Октябрьский – пик Ленина. Команда Советской Армии: Некрасов В., Демченко А., Горячев И. (все – Ленинград), Живлюк Г., Битный А., Логвинов В., Солодовников Г., Староселец Е., Кочетов Ю., Тустукбаев А.
		<br>
		<br>
		<b>1967</b> – по классу высотно-технических восхождений, 2-е место. Восхождение на пик Революции по С стене с лед. Федченко. Команда Советской Армии: Некрасов В., Демченко А. (Ленинград), Битный А., Логвинов В., Староселец Е., Назаров И.
		<br>
		<br>
		Последние восхождение – траверс Мария-Мирали с подъемом на пик Мария по ЮЗ стене 6 к/тр. Демченко совершил в 1977 году в возрасте 52 лет на чемпионате Вооруженных Сил в составе: В. Вицин, В. Николаев В. Овсянников, О. Федоров. Тренерская работа: тренер команды СКА-13 (1975-1980); тренер сборной Вооруженных Сил в техническом классе (1980-1990).
		<br>
		<br>
		Демченко сыграл большую роль в развитии армейского альпинизма, подготовил много сильнейших альпинистов СССР. Традиции армейского альпинизма, заложенные им, о том что «армейцы ходят в любую погоду» и что «страху нет» его ученики хорошо усвоили. Демченко является автором многих девизов, «крылатых» фраз. В память о нем в Москве создан Центральный спортивный клуб альпинизма им. А.С. Демченко.
		<br>
		<br>

		<div class="w3-center">
		<img src="/img/stepanych4.jpg" alt="Александр Степанович Демченко" width="300px">
		<p class="w3-text-grey w3-tiny">Фото из архива Володина В.Г.</p>
		</div>

		<br>

		Об учениках Александра Степановича также можно много писать и рассказать. Возможно здесь не все, но даже эти имена о многом говорят: 
		Шейнов Александр, Розов Валерий, Володин Виктор, Тимме Егор, Волков Вадим, Бондаренко Сергей, Стройков Роман, Романов Александр, Легошин Владимир, Копылов Александр, Гуреев Роман. Все чемпионы и призеры Чемпионатов СССР, Вооруженных сил, г. Москвы.
		<br>
		<br>
		В честь этого достойного человека вот уже более 15 лет альп-клуб ЦСКА им.Демченко проводит соревнования которые называются без всякой помпы, просто "Степаныч", и собирают большое количество участников. Как матерых альпинистов так и увлеченных новичков, которые только открывают для себя мир Альпинизма.
		<br>
		<br>
		Цель наших соревнований - пропагандирование здорового образа жизни, спорта и в особенности Альпинизма и Скалолазание. Мы стараемся дать возможность новичкам в альпинизме попробовать новые техники и приемы а  "бывалым" показать свои навыки. 
		</p>
		<br>
		<hr style="width: 90%; margin:auto;">
		<br>
		<p class="w3-right w3-small w3-text-grey">автор:Кузнецова Юля</p>
		<br>







	<!-- End of Text - Content block -->
		</div>

		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>
		
		
	</section>

{% endblock %}