$red-l5 = #fef4f3 
$red-l4 = #fdd9d6 
$red-l3 = #fbb3ae 
$red-l2 = #f98d85 
$red-l1 = #f6665c 
$red 	= #f44336 
$red-d1 = #f32617 
$red-d2 = #e11a0c 
$red-d3 = #c5170a 
$red-d4 = #a91409 
$red-d5 = #8d1007 

$blue-l5 = #f2f9fe 
$blue-l4 = #d2eafd 
$blue-l3 = #a6d4fa 
$blue-l2 = #79bff8 
$blue-l1 = #4daaf6 
$blue 	 = #2196f3  
$blue-d1 = #0c87eb 
$blue-d2 = #0b78d1 
$blue-d3 = #0a69b7 
$blue-d4 = #085a9d 
$blue-d5 = #074b83 


$green-l5 = #f4faf4
$green-l4 = #dbefdc
$green-l3 = #b7dfb8
$green-l2 = #93cf95
$green-l1 = #6ec071
$green 	  = #4caf50
$green-d1 = #459c48
$green-d2 = #3d8b40
$green-d3 = #357a38
$green-d4 = #2e6830
$green-d5 = #265728

$teal-l5 = #e9fffd
$teal-l4 = #b7fff8
$teal-l3 = #6efff1
$teal-l2 = #26ffe9
$teal-l1 = #00dcc6
$teal    = #009688
$teal-d1 = #008578
$teal-d2 = #00766a
$teal-d3 = #00685d
$teal-d4 = #005950
$teal-d5 = #004a43

$light-green-l5 = #f8fbf4
$light-green-l4 = #e8f3db
$light-green-l3 = #d1e7b7
$light-green-l2 = #b9db93
$light-green-l1 = #a2cf6f
$light-green    = #8bc34a
$light-green-d1 = #7eb63d
$light-green-d2 = #70a236
$light-green-d3 = #628e2f
$light-green-d4 = #547a29
$light-green-d5 = #466522

$lime-l5 = #fcfdf3 
$lime-l4 = #f5f8d7 
$lime-l3 = #eaf1af 
$lime-l2 = #e0ea87 
$lime-l1 = #d6e35f 
$lime    = #cddc39 
$lime-d1 = #c1d325 
$lime-d2 = #acbb21 
$lime-d3 = #96a41d 
$lime-d4 = #818c19 
$lime-d5 = #6b7515