{% extends "base.html" %}

{% block content%}
	<div class="w3-hide-small" style="height: 43px;"></div>
	
	<section class="w3-row w3-margin-top">
		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>

		<div class="w3-col m10 l8 s12 w3-padding " id="content">

			<!-- Start of Text - Content block -->
			<!-- Шапка --> 
		<h2 class="w3-text-red">Список всех команд, зарегистрированных на сайте</h2>
		<p class="w3-tiny w3-text-grey"><sup>*</sup>Эта страничка предназначена для администратора соревнования. Здесь можно поменять участников, скоректировать инфо об участниках или вовсе удалить команду.</p>
		<br>
		<button class="w3-btn-1 w3-green w3-margin-bottom" onclick="document.getElementById('registration-window').style.display='block';">Создать команду</button>
		<p class="w3-tiny w3-text-grey"><sup>*</sup>эта кнопка может использоваться для добавления пользователя с Админскими или Гостевыми правами, в этом случае в качестве имени команды рекомендуется выбрать "Фамилию Имя", в поле соревнований написать Admin или Guest, и указать нужную роль.</p>
		<br>	
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    <div class="w3-pale-green w3-border-green w3-border w3-round" style="margin: 16px 0 0 0;">
		    <a href="#" class="w3-right w3-padding w3-text-green w3-large w3-hover-text-red w3-round w3-padding" onclick="assign_id(this);delete_element()" style="position: relative; top:-3px">x</a>
		    {% for message in messages %}
		    	
		        <p class="w3-padding">{{ message }}</p>

		    {% endfor %}
		    </div>
		    <br>
		  {% endif %}
		 {% endwith %}

		<input class="w3-input w3-border-bottom w3-border-blue w3-blue-l5 input-filter" type="text" placeholder="фильтр..." onkeyup="myFilter(0)" style="font-size: 13px; padding: 4px;">

<!-- Список команд -->
		<ul class="w3-ul ul-filter" style="white-space: nowrap; overflow: auto;">
		<!-- Разделитель команд -->
		{% set count = 1 %}
		{% for team in teamList %}
		
			<li class="w3-tiny team" id="team{{ loop.index }}">
			<!-- Информация о команде -->
				<p class="w3-medium w3-show-inline-block " style="width: 200px;">{{ loop.index }}. <span class="teamName">{{team.teamName}}</span></p>
				<p class="w3-medium w3-show-inline-block w3-margin-left competition" style="width: 135px;">{{team.competition}}</p>
				<p class="w3-medium w3-show-inline-block w3-margin-left" style="width: 265px;">{{team.email}}</p>
				
				<span class="w3-hover-red w3-round w3-text-red w3-padding-small w3-show-inline-block w3-margin-left" onclick="assign_id(this);document.getElementById('delete_team').style.display='block'" style="width: 32px;"><i class="fa fa-trash-o  w3-large"></i></span>

				<div class="w3-clear"></div>

			<!-- Разделитель Участников -->
					<div class="w3-margin-top">
					<input class="my-input sname1" type="text" value="{{team.sname1}}" disabled name="sname1" style="width: 100px">
					<input class="my-input name1" type="text" value="{{team.name1}}" disabled  name="name1" style="width: 80px"> 
					<input class="my-input year1" type="number" min=1950 value="{{team.year1}}" disabled name="year1" style="width: 50px">
					<input class="my-input w3-margin-bottom club1" type="text" value="{{team.club1}}" disabled name="club1" style="width: 135px">
					<label for="male_1">пол </label>
					<select class="w3-select my-input w3-margin-bottom w3-margin-right male1"  name="male1" disabled  style="width: 35px">
						<option {% if team.male1 == 'М' %} selected {% else %}{% endif %} value="М">М</option>
					    <option {% if team.male1 == 'Ж' %} selected {% else %}{% endif %} value="Ж">Ж</option>
			 		</select>
					<label for="alp_level1">альп.р </label>
					<select class="w3-select my-input w3-margin-bottom alpSkill1"  name="alpSkill1" disabled  style="width: 55px">
						<option {% if team.alpSkill1 == 'б/р' %} selected {% else %}{% endif %} value="б/р">б/р</option>
					    <option {% if team.alpSkill1 == '3й' %} selected {% else %}{% endif %} value="3й">3й</option>
					    <option {% if team.alpSkill1 == '2й' %} selected {% else %}{% endif %} value="2й" selected>2й</option>
					    <option {% if team.alpSkill1 == '1й' %} selected {% else %}{% endif %} value="1й">1й</option>
					    <option {% if team.alpSkill1 == 'кмс' %} selected {% else %}{% endif %} value="кмс">кмс</option>
					    <option {% if team.alpSkill1 == 'мс' %} selected {% else %}{% endif %} value="мс">мс</option>
					    <option {% if team.alpSkill1 == 'мсмк' %} selected {% else %}{% endif %} value="мсмк">мсмк</option>
			 		</select>
					<label for="climb_level1">скл.р: </label>
					<select class="w3-select my-input w3-margin-bottom climbSkill1" name="climbSkill1" disabled style="width: 55px">
						<option {% if team.climbSkill1 == 'б/р' %} selected {% else %}{% endif %} value="б/р">б/р</option>
					    <option {% if team.climbSkill1 == '3й' %} selected {% else %}{% endif %} value="3й">3й</option>
					    <option {% if team.climbSkill1 == '2й' %} selected {% else %}{% endif %} value="2й" >2й</option>
					    <option {% if team.climbSkill1 == '1й' %} selected {% else %}{% endif %} value="1й" selected>1й</option>
					    <option {% if team.climbSkill1 == 'кмс' %} selected {% else %}{% endif %} value="кмс">кмс</option>
					    <option {% if team.climbSkill1 == 'мс' %} selected {% else %}{% endif %} value="мс">мс</option>
					    <option {% if team.climbSkill1 == 'мсмк' %} selected {% else %}{% endif %} value="мсмк">мсмк</option>
			 		</select>

					<button class="w3-btn-1 w3-round w3-lime w3-padding-small w3-show-inline-block w3-margin-left" onclick="edit_user_info(this)"><i class="fa fa-pencil w3-medium"></i></button>
					<button class="w3-btn-1 w3-round w3-blue w3-hide w3-padding-small w3-margin-left" onclick="save_user_info(this)"><i class="fa fa fa-save w3-medium"></i></button>
					</div>

			<!-- Разделитель Участников -->
					<div class="">
					<input class="my-input sname2" type="text" value="{{team.sname2}}" disabled name="sname2" style="width: 100px">
					<input class="my-input name2" type="text" value="{{team.name2}}" disabled  name="name2" style="width: 80px"> 
					<input class="my-input year2" type="number" min=1950 value="{{team.year2}}" disabled name="year2" style="width: 50px">
					<input class="my-input w3-margin-bottom club2" type="text" value="{{team.club2}}" disabled name="club1" style="width: 135px">
					<label for="male_2">пол </label>
					<select class="w3-select my-input w3-margin-bottom w3-margin-right male2"  name="male2" disabled  style="width: 35px">
						<option {% if team.male2 == 'М' %} selected {% else %}{% endif %} value="М">М</option>
					    <option {% if team.male2 == 'Ж' %} selected {% else %}{% endif %} value="Ж">Ж</option>
			 		</select>					
					<label for="alp_level1">альп.р </label>
					<select class="w3-select my-input w3-margin-bottom alpSkill2"  name="alpSkill2" disabled  style="width: 55px">
						<option {% if team.alpSkill2 == 'б/р' %} selected {% else %}{% endif %} value="б/р">б/р</option>
					    <option {% if team.alpSkill2 == '3й' %} selected {% else %}{% endif %} value="3й">3й</option>
					    <option {% if team.alpSkill2 == '2й' %} selected {% else %}{% endif %} value="2й" selected>2й</option>
					    <option {% if team.alpSkill2 == '1й' %} selected {% else %}{% endif %} value="1й">1й</option>
					    <option {% if team.alpSkill2 == 'кмс' %} selected {% else %}{% endif %} value="кмс">кмс</option>
					    <option {% if team.alpSkill2 == 'мс' %} selected {% else %}{% endif %} value="мс">мс</option>
					    <option {% if team.alpSkill2 == 'мсмк' %} selected {% else %}{% endif %} value="мсмк">мсмк</option>
			 		</select>
					<label for="climb_level1">скл.р: </label>
					<select class="w3-select my-input w3-margin-bottom climbSkill2" name="climbSkill2" disabled style="width: 55px">
						<option {% if team.climbSkill2 == 'б/р' %} selected {% else %}{% endif %} value="б/р">б/р</option>
					    <option {% if team.climbSkill2 == '3й' %} selected {% else %}{% endif %} value="3й">3й</option>
					    <option {% if team.climbSkill2 == '2й' %} selected {% else %}{% endif %} value="2й" >2й</option>
					    <option {% if team.climbSkill2 == '1й' %} selected {% else %}{% endif %} value="1й" selected>1й</option>
					    <option {% if team.climbSkill2 == 'кмс' %} selected {% else %}{% endif %} value="кмс">кмс</option>
					    <option {% if team.climbSkill2 == 'мс' %} selected {% else %}{% endif %} value="мс">мс</option>
					    <option {% if team.climbSkill2 == 'мсмк' %} selected {% else %}{% endif %} value="мсмк">мсмк</option>
			 		</select>

					<button class="w3-btn-1 w3-round w3-lime w3-padding-small w3-show-inline-block w3-margin-left edit_user_info" onclick="edit_user_info(this)"><i class="fa fa-pencil w3-medium"></i></button>
					<button class="w3-btn-1 w3-round w3-blue w3-hide w3-padding-small w3-margin-left save_user_info" onclick="save_user_info(this)"><i class="fa fa fa-save w3-medium"></i></button>
					</div>
			
				</li>

		{% set count = count + 1 %}
		{% endfor %}
		
		</ul>
	
<!-- Delete team modal window -->
		<div id="delete_team" class="w3-modal">
			<div class="w3-modal-content w3-animate-zoom w3-padding w3-center" style="max-width: 600px">
				<button onclick="this.parentElement.parentElement.style.display='none'" class="w3-button w3-right w3-hover-gren w3-green"><i class="fa fa-close"></i></button>	
				<h2 class="w3-text-blue">Удаление команды</h2>
				
					<p class="w3-small">Вы уверены что хотите удалить эту команду? Она будет удалена с сервера!</p>
				 	<button class="w3-button w3-red w3-margin" onclick="delete_element_modal('delete_team')"><i class="fa fa-trash-o" ></i> удалить</button>
				
			</div>	
		</div>		

	<!-- Start of Registration modal window -->
		<div id="registration-window" class="w3-modal" style="display: {{ request.args.get('displayRegistrationForm')}}" onload="disable_select_option()">

			<div class="w3-modal-content w3-animate-zoom w3-padding w3-small" style="max-width: 600px">
				<button onclick="document.getElementById('registration-window').style.display='none'" class="w3-button w3-padding-small w3-right w3-hover-red-d3 w3-red"><i class="fa fa-close w3-large"></i></button>	

				<h3>Форма регистрации</h3>

				{% with messages = get_flashed_messages() %}
				    {% if messages %}
				    
				    {% for message in messages %}
				        <p class="w3-text-red w3-padding">{{ message }}</p>
				    {% endfor %}
				    
				  {% endif %}
				{% endwith %} 	
				

				<form action="{{ url_for('competition.registration') }}" class="w3-container" method="POST">

					{{ registrationForm.csrf_token }}
					<!-- ============= Командная информация ===================== -->
					<div class="w3-section">

						{{ registrationForm.competition(class="w3-input w3-border-bottom ") }}
						<p class="w3-tiny w3-text-red">
							{% for message in registrationForm.competition.errors %}
							{{ message }}
							{% endfor %}
						</p>
						
						{{ registrationForm.teamName(class="w3-input w3-border-bottom") }}
							<p class="w3-tiny w3-text-red">
								{% for message in registrationForm.teamName.errors %}
								{{ message }}
								{% endfor %}
							</p>

							

						{{ registrationForm.email(class="w3-input w3-border-bottom ") }}
							<p class="w3-tiny w3-text-red">
								{% for message in registrationForm.email.errors %}
								{{ message }}
								{% endfor %}
							</p>

						{{ registrationForm.password(class="w3-input w3-border-bottom w3-margin-bottom") }}
							<p class="w3-tiny w3-text-red">
								{% for message in registrationForm.password.errors %}
								{{ message }}
								{% endfor %}
							</p>

						{{ registrationForm.role(class="w3-select w3-text-grey w3-padding w3-margin-bottom") }} 
						
						{{ registrationForm.setNumber(class="w3-select w3-text-grey w3-padding w3-margin-bottom disable-option") }}
							<p class="w3-tiny w3-text-red">
								{% for message in registrationForm.setNumber.errors %}
								{{ message }}
								{% endfor %}
							</p>


						<div class="w3-cell-row">
							<!-- =========== 1й участник ============ -->
							<div class="w3-mobile w3-card-2 w3-margin-bottom" style="width: 48%; float: left;">
								<div class="w3-container w3-blue w3-padding w3-center">Участник 1</div>
								<div class="w3-container w3-padding">
								{{ registrationForm.name1(class="w3-input w3-border-bottom") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.name1.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.sname1(class="w3-input w3-border-bottom ") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.sname1.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.club1(class="w3-input w3-border-bottom ") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.club1.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.year1(class="w3-input w3-border-bottom  w3-margin-bottom") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.year1.errors %}
										{{ message }}
										{% endfor %}
									</p>						 		

								{{ registrationForm.alpSkill1(class="w3-select w3-text-grey w3-padding  w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.alpSkill1.errors %}
										{{ message }}
										{% endfor %}
									</p>

								{{ registrationForm.climbSkill1(class="w3-select w3-text-grey w3-padding w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.climbSkill1.errors %}
										{{ message }}
										{% endfor %}
									</p>	

								{{ registrationForm.male1(class="w3-select w3-text-grey w3-padding w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.male1.errors %}
										{{ message }}
										{% endfor %}
									</p>
								</div>
							</div>
								<!-- ============= 2й участник ============= -->
							<div class="w3-mobile w3-card-2" style="width: 48%; float: right;">
								<div class="w3-container w3-blue w3-padding w3-center">Участник 2</div>
								<div class="w3-container w3-padding">
								{{ registrationForm.name2(class="w3-input w3-border-bottom ") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.name2.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.sname2(class="w3-input w3-border-bottom ") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.sname2.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.club2(class="w3-input w3-border-bottom ") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.club2.errors %}
										{{ message }}
										{% endfor %}
									</p>								

								{{ registrationForm.year2(class="w3-input w3-border-bottom  w3-margin-bottom") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.year2.errors %}
										{{ message }}
										{% endfor %}
									</p>						 		

								{{ registrationForm.alpSkill2(class="w3-select w3-text-grey w3-padding  w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.alpSkill2.errors %}
										{{ message }}
										{% endfor %}
									</p>						 		
	

								{{ registrationForm.climbSkill2(class="w3-select w3-text-grey w3-padding  w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.climbSkill2.errors %}
										{{ message }}
										{% endfor %}
									</p>	

								{{ registrationForm.male2(class="w3-select w3-text-grey w3-padding  w3-margin-bottom disable-option") }}
									<p class="w3-tiny w3-text-red">
										{% for message in registrationForm.male1.errors %}
										{{ message }}
										{% endfor %}
									</p>	
								</div>
							</div>
						</div>



						{{ registrationForm.submit(class="w3-button w3-block w3-green w3-padding w3-hover-green-l1 w3-margin-top") }}
						
					</div>
				</form>

				<div class="w3-cell-row">
						
				
				
				</div>
			</div>
		</div>	
	<!-- END of Registration modal window -->

			<!-- End of Text - Content block -->
		</div>

		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>
		
		
	</section>

{% endblock %}