{% extends "base.html" %}

{% block content %}
	<div class="w3-hide-small" style="height: 43px;"></div>


	
	<section class="w3-row w3-margin-top">
		{% if current_user.can(Permission.ADMINVIEW) %}
		<div class="w3-col w3-hide-small" style="width: 48px;"> &nbsp;</div>
		{% else %}
		{% endif %}
		<div class="w3-rest w3-padding " id="content">
			<!-- Tabs Qualification & Final results -->
			
			{% with messages = get_flashed_messages() %}
			    {% if messages %}
			    <div class="w3-pale-green w3-border-green w3-border w3-round" style="margin: 16px 0 0 0;">
			    <a href="#" class="w3-right w3-padding w3-text-green w3-large w3-hover-text-red w3-round w3-padding" onclick="assign_id(this);delete_element()" style="position: relative; top:-3px">x</a>
			    {% for message in messages %}
			    	
			        <p class="w3-padding">{{ message }}</p>

			    {% endfor %}
			    </div>
			    <br>
			  {% endif %}
			{% endwith %}	
				
		<!-- Tab Final Results -->	
			<h1 id="competition" class="w3-text-red w3-padding-small">{{competition}}</h1>
			<div class="teamlits" id="final_res" style="overflow: auto; display: block;">
			<div class="" style="margin-left: 16px;">
			<h2 class="" id="published_results w3-padding-small">{{resultsHeader}}</h2>
			<p class="w3-padding-bottom">{{ resultsBodyHTML | safe }}</p>
			</div>
			<div class="w3-bar w3-margin-top">
				<p class="w3-bar-item w3-tiny w3-padding-small w3-margin-right w3-red-l3 w3-center">Лучшая <br> женская связка</p>
				<p class="w3-bar-item w3-tiny w3-padding-small w3-margin-right w3-green-l3 w3-center">Лучшая <br> смешанная связка</p>
				<p class="w3-bar-item w3-tiny w3-padding-small w3-margin-right w3-light-grey w3-center">Дисквалификация <br> или неявка</p>
				{% if highlightFinals == 'no' %}
				{% else %}
				<p class="w3-bar-item w3-tiny w3-padding-small w3-border-bottom-3 w3-border-red w3-center">Финалисты </p>
				{% endif %}
			</div>	
			<br>
			<input class="w3-input w3-border-bottom w3-border-blue w3-blue-l5 input-filter" type="text" placeholder="фильтр..." onkeyup="tableFilter(0,0)" style="font-size: 13px; padding: 4px;">
				
			<!-- Table Header -->	
				<div id="qualification" class="" style="overflow: auto;">

					<table class="my-table w3-small" style="white-space: nowrap; overflow: auto;">
						
						<tr class="" style="">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="w3-text-grey w3-right-align">баллы за трассу</td>
							<td><i class="fa fa-angle-double-right w3-text-grey w3-left-align"></i></td>
							<td>&nbsp;&nbsp;</td>
							
							{% for route in routesInfo %}
							<td class="w3-text-grey w3-border-left  w3-border-blue  w3-center">{{route.score}}</td>
							{% endfor %}
							<td class="w3-border-left  w3-border-blue  w3-center" style="font-weight:bold;">баллы</td>
							<td class="w3-border-left  w3-border-blue  w3-center" style="font-weight:bold;">сумма баллов</td>
							<td class="w3-center w3-border-left w3-border-blue" style="font-weight:bold;">кол-во</td>
						</tr>

						<tr class="" style="">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="w3-text-grey w3-right-align">итоговая ценность трассы</td>
							<td><i class="fa fa-angle-double-right w3-text-grey w3-left-align"></i></td>
								
							<td>&nbsp;</td>
							{% for route in routesInfo %}
							<td class="w3-text-grey w3-border-left  w3-border-blue  w3-center">{{route.weight | round | int}}</td>
							{% endfor %}
							<td class="w3-center  w3-border-left w3-border-blue" style="font-weight:bold;">за</td>
							<td class="w3-center w3-border-left w3-border-blue" style="font-weight:bold;">/</td>
							<td class="w3-center w3-border-left w3-border-blue" style="font-weight:bold;">пройденных</td>
						</tr>

						<tr class="w3-border-bottom w3-border-blue" style="font-weight:bold;">
							<td>место</td>
							<td>название команды</td>
							<td>участники</td>
							<td>г.р.</td>
							<td>клуб</td>
							<td>р.альп</td>
							<td>р.скал</td>
							{% for route in routesInfo %}
							<td class="w3-border-left  w3-border-blue w3-center">{{route.routeNuber}}</td>
							{% endfor %}
							<td class="w3-center  w3-border-left w3-border-blue">финал</td>
							<td class="w3-center  w3-border-left w3-border-blue">сумма времени</td>
							<td class="w3-center  w3-border-left w3-border-blue">трасс</td>
						</tr>
						
			<!-- Table content -->
					 	{% for team in teams %}
						<tr class="
						{% if highlightFinals == 'yes' and loop.index == 4 %}w3-border-red w3-border-bottom-3 {% else %} w3-border-blue w3-border-bottom{% endif %} 
						
						{% if team.bestTeams == 'weemen' %} w3-red-l3 {% else %} 
							{% if team.bestTeams == 'mix' %} w3-green-l3 {% else %}
								{% if loop.index%2 == 0 %}w3-blue-l4{% else %}{% endif %}
							{% endif %}
						{% endif %}
						
						  w3-hover-lime">
							<td  class="w3-center ">{{loop.index}}</td>
							<td  style="column-width: 120px; white-space: normal;">{{team.teamName}}</td>
							<td>
								<a href="{{url_for('competition.profile', name=team.name1, sname=team.sname1, year=team.year1)}}" class="w3-text-blue">{{team.sname1}} {{team.name1}}</a><br>
								<a href="{{url_for('competition.profile', name=team.name2, sname=team.sname2, year=team.year2)}}" class="w3-text-blue">{{team.sname2}} {{team.name2}}</a>
							</td>
							<td>{{team.year1}} <br>{{team.year2}}</td>
							<td>{{team.club1}} <br>{{team.club2}}</td>
							<td>{{team.alpSkill1}} <br>{{team.alpSkill1}} </td>
							<td>{{team.climbSkill1}} <br>{{team.climbSkill1}} </td>
								{% for route in routesInfo %}
									<td class="w3-border-blue w3-border-left w3-center">
										{{ (team.results(route.routeNuber,competition)['routeTimeSec'~route.routeNuber~'Min']) | round | int }}:{{  team.results(route.routeNuber,competition)['routeTimeSec'~route.routeNuber~'Sec']  }}
									</td>
								{% endfor %}
							<td class="w3-border-blue w3-border-left w3-center">{{ team.results(1000,competition).routeScoreFinal | round | int }}</td>
							<td class="w3-border-blue w3-border-left w3-center">{{ team.routeScoreTotal | round | int }} <br>{{ team.results(1000,competition).routeTimeSecTotalMin | round | int }}:{{team.results(1000,competition).routeTimeSecTotalSec}}
							</td>
							<td class="w3-border-blue w3-border-left w3-center">{{team.results(0,competition).routesPassed}}</td>	
						</tr>
						<!-- team seporator -->
						{% endfor %}

						{% for team in badTeams %}
						<tr class="w3-border-blue w3-border-bottom w3-light-grey w3-hover-lime">
							<td  class="w3-center ">{{ team.teamStatus }}</td>
							<td  style="column-width: 120px; white-space: normal;">{{team.teamName}}</td>
							<td>
								<a href="{{url_for('competition.profile', name=team.name1, sname=team.sname1, year=team.year1)}}" class="w3-text-blue">{{team.sname1}} {{team.name1}}</a><br>
								<a href="{{url_for('competition.profile', name=team.name2, sname=team.sname2, year=team.year2)}}" class="w3-text-blue">{{team.sname2}} {{team.name2}}</a>
							</td>
							<td>{{team.year1}} <br>{{team.year2}}</td>
							<td>{{team.club1}} <br>{{team.club2}}</td>
							<td>{{team.alpSkill1}} <br>{{team.alpSkill1}} </td>
							<td>{{team.climbSkill1}} <br>{{team.climbSkill1}} </td>
								{% for route in routesInfo %}
									<td class=" w3-border-blue w3-border-left w3-center">
										{{ (team.results(route.routeNuber,competition)['routeTimeSec'~route.routeNuber~'Min']) | round | int }}:{{  team.results(route.routeNuber,competition)['routeTimeSec'~route.routeNuber~'Sec']  }}
									</td>
								{% endfor %}
							<td class="w3-border-blue w3-border-left w3-center">{{ team.results(1000,competition).routeScoreFinal | round | int }}</td>
							<td class="w3-border-blue w3-border-left w3-center">{{ team.routeScoreTotal | round | int }}<br>{{ team.results(1000,competition).routeTimeSecTotalMin | round | int }}:{{team.results(1000,competition).routeTimeSecTotalSec}}
							</td>
							<td class="w3-border-blue w3-border-left w3-center">{{team.results(0,competition).routesPassed}}</td>	

						</tr>
						<!-- team seporator -->

						{% endfor %}
						
					</table>
						<br>
						<a href="{{ prevURL }}" class="w3-btn-1 w3-round  w3-left w3-margin w3-show w3-border w3-border-blue w3-text-blue"><< Назад</a>
					</div>

				</div>
					
	


	</section>



{% endblock %}