{% extends "base.html" %}

{% block content %}
	<div class="w3-hide-small" style="height: 43px;"></div>
	
	<section class="w3-row w3-margin-top">
		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>

		<div class="w3-col m10 l8 s12 w3-padding " id="content">

	<!-- Start of Text - Content block -->



	<hr style="width: 90%; margin:auto;" >
		
			<h2 class="w3-center w3-text-red">Cписок рекомендуемого снаряжения для облегчения сборов на
		    	<div class="w3-tag w3-round w3-blue w3-border w3-border-white">#степаныч</div>
			</h2>
			<br>
			<br>

			
			<ul class="w3-ul w3-left w3-mobile" style="width: 300px">
				<li class="w3-hover-red-l1 w3-text-grey w3-small">*каска</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">*страховочная система</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">*самостраховка (2 уса)</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">*спусковое (страховочное) устройство</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">*веревка 30 м (лучше две)</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">карабины</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">рюкзак</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">оттяжки 10 штук</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">петли</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">топорики</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">якорные крючья</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">молоток</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">комплект закладок</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">комплект камалотов</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">комплект скайхуков</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">зажимы (жумар, кроль и т.п.)</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">крюконоги</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">лесенки</li>
				<li class="w3-hover-red-l1 w3-text-grey w3-small">крюкопузо</li>
			</ul>
			<div class="w3-right w3-mobile" style="display: inline-block; width: 300px">
				<p >* – обязательное снаряжение для обеспечения безопасности, без которого спортсмен не допускается к участию <br><br></p>
				<img src="/img/gear.jpg" alt="список снаряжения для соревнования" width="100%" class="w3-hide-small">
				
			</div>
			
			<div class="w3-clear"></div>
			<br>
			<br>
			<p>Из судейского на трассах будет только специфическое снаряжение.
	Призываем Вас помнить о снаряжении, которое одалживаете товарищам, и сразу же возвращать чужое снаряжение хозяевам!</p>
		<br>
		<hr style="width: 90%; margin:auto;">


	<!-- End of Text - Content block -->
		</div>

		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>
		
		
	</section>

{% endblock %}