<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Cтепаныч - Соревнования альпинистких связок </title>

</head>
<body>
	<div class="w3-container">
		<p>Привет команде {{ team.teamName }}!</p>
		<p>Для завершения регистрации, вам осталось всего лишь перейти по ссылке:</p>
		<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
		<br>
		<br>
		<p>С уважением, команда "Степаныча"</p>

		<br>
		<p class="w3-small">Пожалуйста не отвечайте на это письмо, оно сгенерировано автоматически.</p>
	</div>
</body>