<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Cтепаныч - соревнования альпинистких связок </title>

</head>
<body>
	<div class="w3-container">
		<p>Привет команде {{ team }}!</p>
		<p>Чтобы закончить со сменой email, перейдите по ссылке ниже:</p>
		<p>{{ url_for('auth.new_email_change', token=token, _external=True) }}</p>
		<br>
		<br>
		<p>С уважением, команда "Степаныча"</p>

		<br>
		<p class="w3-small">Пожалуйста, не отвечайте на это письмо, оно сгенерировано автоматически.</p>
	</div>
</body>