{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="/css/gallery.css">
	
	<div class="w3-hide-small" style="height: 43px;"></div>
	
	<section class="w3-row w3-margin-top">
		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>

		<div class="w3-col m10 l8 s12 w3-padding " id="content">

	<!-- Start of Text - Content block -->

		
		
			{% with messages = get_flashed_messages() %}
			    {% if messages %}
				    <div class="w3-pale-green w3-border-green w3-border w3-round" style="margin: 16px 0 0 0; width: 80%">
				    <a href="#" class="w3-right w3-padding w3-text-green w3-large w3-hover-text-red w3-round w3-padding" onclick="assign_id(this);delete_element()" style="position: relative; top:-3px">x</a>
					    {% for message in messages %}
					    	
					        <p class="w3-padding">{{ message }}</p>

					    {% endfor %}
			    	</div>
			   	 <br>
			  	{% endif %}
		 	{% endwith %}

		<a href="{{ url_for('media.photo') }}" class="w3-btn-1 w3-text-blue w3-border w3-border-blue w3-round w3-margin "> << назад к альбомам </a>
		
		{% if current_user.teamName == galleryInfo.authorName or current_user.can(Permission.ADMIN) %}
			<a class="w3-btn-1 w3-blue w3-padding w3-margin w3-round" onclick="document.getElementById('add_photo').style.display='block'"><i class="fa fa-plus-square"></i> Добавить фото</a>
		{% else %}
		{% endif %}

		<h2 class="w3-text-red w3-center">Альбом "{{ galleryInfo.galleryName }}"</h2>

		<!-- Galeries section -->
			<div id="grid-gallery" class="grid-gallery" >
				<section class="grid-wrap">
					<ul class="grid">
						<li class="grid-sizer"></li><!-- for Masonry column width -->
						{% for photo in gallery %}
							<li class="photo{{ photo.id }}">
							<figure>
							{% if current_user.teamName == galleryInfo.authorName or current_user.can(Permission.ADMIN) %}
							<div class="w3-display-topright w3-text-red w3-large w3-hover-black w3-padding w3-round trash" onclick="assign_id(this);delete_photo(this, {{ photo.id }})"><i class="fa fa-trash-o"></i></div>
							{% else %}		
							{% endif %}	

							<img src="{{ photo.imgURL }}" alt="{{ photo.galleryName }}">
							
							</figure>
							</li>
						{% endfor %}
					</ul>
				</section><!-- // grid-wrap -->
				

				<section class="slideshow" >
					
					<ul>

						{% for photo in gallery %}
							<li class="photo{{ photo.id }}">
								<figure>
									<img src="{{ photo.imgURL }}" alt="{{ photo.galleryName }}"/>
								</figure>
							</li>
						{% endfor %}

					</ul>
					<nav>
						<span class="icon nav-prev"><i class="fa fa-chevron-left"></i></span>
						<span class="icon nav-next"><i class="fa fa-chevron-right"></i></span>
						<span class="icon nav-close"><i class="fa fa-close"></i></span>
					</nav>

				</section><!-- // slideshow -->

			</div><!-- // grid-gallery -->

	<!-- New galary greation modal windo -->

	<div id="add_photo" class="w3-modal" style="display: {{ request.args.get('displayNewPhoto') }}">
		<div class="w3-modal-content w3-animate-zoom w3-padding w3-center" style="max-width: 320px">
			<button onclick="document.getElementById('add_photo').style.display='none'" class="w3-button w3-right w3-hover-red-d3 w3-red"><i class="fa fa-close"></i></button>	

			<h3 class="w3-text-blue">Добавление фото</h3>
			{% with messages = get_flashed_messages() %}
			    {% if messages %}
			    
			    {% for message in messages %}
			        <p class="w3-text-red w3-padding">{{ message }}</p>
			    {% endfor %}
			    
			  {% endif %}
			{% endwith %} 	

			<form action="{{ url_for('media.add_photo') }}" class="w3-container w3-padding" method="POST" enctype="multipart/form-data" name="photo">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

				<input name="galleryName" value="{{ galleryInfo.galleryName }}" type="hidden">
				<input name="galleryID" value="{{ galleryInfo.galleryID }}" type="hidden">
				<br>
				<br>
			 	<p class="w3-small">Выберите фотографии для загрузки,</p>
			 	<p class="w3-small">допустимый размер файла до 3 МБ:</p>
			 	<br>
			 	<input required type="file" id="docs" name="docs" class="w3-margin-bottom w3-small" multiple>
			 	<br>
			 	<br>
			 	<input type="submit" class="w3-button w3-green w3-margin button-upload" value="добавить фото">
			</form>
		
		</div>	
	</div>

		<div class="w3-col m1 l2 w3-hide-small"> &nbsp;</div>
		
		
	</section>
	
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/modernizr.custom.js"></script>
	
	<script src="/static/js/cbpGridGallery.js"></script>
	<script>
		
			xxx = new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		
	</script>

{% endblock %}