{% extends "base.html" %}

{% block content %}
<div class="w3-hide-small" style="height: 43px;"></div>
	<div class="w3-display-container">
		
		<div class="w3-center w3-text-dark-grey">
		<h1>Ошибка 403</h1>
		<img src="/img/403.jpg" alt="недостаточно прав для доступа" width="180px">
		<h2 style="width: 100%">У вас недостаточно прав, чтобы лезть на такие вершины!</h2>
		<h2>Попробуйте обзавестись правами администратора</h2>
		<h2>или прокачаться в альпинизме :)</h2>
		
		</div>

	</div>
{% endblock %}